.iris-picker {width: 300px !important; height: 150px !important;}
.iris-square {width: 85% !important; height: 130px !important; margin:0px !important;padding: 0px !important;}
.iris-square-inner {width: 100% !important; height: 130px !important;}
.iris-slider {width: 10% !important; height: 130px !important;margin-left:5% !important;}